<header class="header header-style-1">
    <div class="navigation flex-align">
        <a href="index.html" class="logo"><img src="img/Allevofoods 1.svg" alt="Allevofoods"><img src="img/Allevofoods 1.svg"
                alt="Allevofoods" class="logo-type-2"></a>
        <div class="burger-menu"><i></i></div>
        <div class="nav">
            <div class="nav-align-wrap">

                <nav>
                    <ul class="header-menu">
                        <li><a href="index.html">Inicio</a></li>
                        <li><a href="#">Ventas</a></li>
                        <li><a href="productos.html">Productos</a></li>
                        <li><a href="contacto.html">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>